.dropdown-menu {
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
}

.row {
  margin-bottom: 20px;
}

#controls1{
    height: 700px;
    overflow-y: scroll;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















