.row {
  margin-bottom: 20px;
  margin-left:5px;
  margin-right:5px;
}
.dropdown-menu {
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
}

#parameter_controls{
    
}

#clinical_controls{
    overflow-y: scroll;
    
}

#rppa_controls{
    overflow-y: scroll;
}

#rppa_distribution{
    height: 1000px;
    overflow-y:scroll;
    overflow-x:scroll;
    position:relative;
}

.domain{
    overflow-y:scroll;
    overflow-x:scroll;
    height:200px;
}

#table_container{
    overflow-y:scroll;
}

#chart {
  position: relative;
}

canvas, svg {
  position: absolute;
  top: 0;
  left: 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















